.header {
    background: #1b221fcc;
    top: 17px;
    left: 160px;
    right: 160px;
    position: fixed;
    z-index: 1000;
    border-radius: 56px;
    height: 100px;
    box-sizing: border-box;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.desktopNav {
    display: flex;
    gap: 60px;
}

.desktopNav .link {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.desktopNav .link:hover {
    color: var(--main_color);
}

.desktopNav .link.active {
    color: var(--main_color);
}

.contacts {
    display: flex;
    align-items: center;
    gap: 60px;
}

.logo {
    width: auto;
    height: auto;
}

.phone {
    width: auto;
    height: auto;
}

.email {
    width: auto;
    height: auto;
}

@media (max-width: 1200px) {
    .logo {
        width: 200px;
        height: auto;
    }

    .phone {
        width: 36px;
        height: auto;
    }

    .email {
        width: 53px;
        height: auto;
    }

    .desktopNav .link {
        font-size: 20px;
    }

    .desktopNav {
        gap: 30px;
    }

    .contacts {
        gap: 30px;
    }

}

@media (max-width: 1024px) {
    .header {
        left: 100px;
        right: 100px;
        height: 80px;
    }

    .container{
        padding: 0px 30px;
    }

    .logo {
        width: 180px;
        height: auto;
    }

    .phone {
        width: 30px;
        height: auto;
    }

    .email {
        width: 50px;
        height: auto;
    }

    .desktopNav .link {
        font-size: 18px;
    }

    .desktopNav {
        gap: 20px;
    }

    .contacts {
        gap: 20px;
    }

}

@media (max-width: 768px) {
    .header {
        left: 50px;
        right: 50px;
        height: 70px;
    }

    .container{
        padding: 0px 20px;
    }

    .logo {
        width: 140px;
        height: auto;
    }

    .phone {
        width: 25px;
        height: auto;
    }

    .email {
        width: 42px;
        height: auto;
    }

    .desktopNav .link {
        font-size: 16px;
    }

    .desktopNav {
        gap: 20px;
    }

    .contacts {
        gap: 20px;
    }

}

@media (max-width: 650px) {
    .header {
        left: 40px;
        right: 40px;
        height: 60px;
    }

    .logo {
        width: 130px;
        height: auto;
    }

    .desktopNav .link {
        font-size: 14px;
    }

    .desktopNav {
        gap: 15px;
    }

    .contacts {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        left: 10px;
        right: 10px;
        height: 60px;
    }

    .email {
        display: none;
    }

    .desktopNav {
        gap: 10px;
    }
}