.groupCart {
    background-color: rgba(252, 252, 252, 0.7);
    color: var(--main_color);
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 40px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: rgba(252, 252, 252, 1);
}

.groupCart>div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.groupCart h1 {
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .groupCart h1 {
        font-size: 42px;
    }
}

@media (max-width: 875px) {
    .groupCart h1 {
        font-size: 36px;
    }

    .groupCart {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px 30px;
    }

    .groupCart>div {
        gap: 20px;
    }
}

@media (max-width: 740px) {
    .groupCart>div {
        flex-direction: column;
        gap: 40px;
    }

    .groupCart {
        margin-bottom: 30px;
    }
}