.palletCart {
    background: #FCFCFC;
    border-radius: 40px;
    color: black;
    border: 1px solid #969696;
    border-top: none;
}

.imageWrapper {
    background-color: #E7E7E7;
    border-radius: 40px 40px 0px 0px;
    padding: 0px 3px;
    padding-top: 40px;
    margin: -1px -1px 0 -1px;
}

.Image {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;

    width: 100%;
    max-width: 356px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

.palletCart button {
    background-color: var(--main_color);
    font-size: 20px;
    padding: 12px 50px;
    border: none;
    border-radius: 12px;
}

.palletCart button:hover {
    background-color: var(--main_color_hover);
}


@media (max-width: 1024px) {
    .Image {
        font-size: 42px;
        width: 300px;
        height: 200px;
    }

    .content {
        max-width: 306px;

    }
}