:root {
  --main_color: #0049C8;
  --main_color_hover : #00348f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1b221f;
  color-scheme: dark;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}