.footer {
  padding: 40px 0;
  font-size: 14px;
  color: white;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerLogo {
  font-size: 24px;
}

.footerEmail {
  font-size: 18px;
  text-decoration: none;
}

.footerPhone {
  font-size: 24px;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }

  .footerInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footerLogo {
    font-size: 22px;
  }

  .footerText{
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 7px;
  }

  .footerEmail {
    font-size: 16px;
    order: 3;
    width: 100%;
  }

  .footerPhone {
    padding-top: 15px;
    font-size: 20px;
    order: 2;
  }

  .container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 25px 0;
  }

  .footerLogo {
    font-size: 20px;
  }

  .footerEmail {
    font-size: 15px;
  }

  .footerPhone {
    font-size: 18px;
  }
}